/15class_99.8.h5
/17class_98.1.h5
/2calss_lagre_dataset_99.1.h5
/2class_98.0.h5
/44class_96.5.h5
/Alzheimer MRI Preprocessed Dataset
/alzheimer_dataset(4 calss).ipynb
/archive_2.zip
/archive_3.zip
/archive_4.zip
/archive_5.zip
/archive_6.zip
/archive_7.zip
/Best-val_accuracy.h5
/Best-val_loss.h5
/Brain MRI Images for Brain Tumor Detection
/Brain Tumor Classification (MRI)
/Brain Tumor MRI Images 17 Classes
/Brain Tumor MRI Images 44 Classes
/Brain_Tumor_Detection_MRI
/doc.docx
/EfficientNetB5_4calss.png
/ignore.ipynb
/ignore2.ipynb
/main.py
/models
/tumor_dataset(2 calss).ipynb
/tumor_dataset(4 calss).ipynb