Best-val_accuracy.h5
Best-val_loss.h5

/datasets
/backups
/Streamlit/2calss_lagre_dataset_99.1.h5
/Streamlit/2class_98.0.h5
/Streamlit/15class_99.8.h5
/Streamlit/17class_98.1.h5
/Streamlit/44class_96.5.h5
/Streamlit/alzheimer_99.5.h5
/Streamlit/*.jpeg
/Streamlit/*.png
doc.docx
